<br>
<div class="panel panel-default">
  <div class="panel-body">
  <h4>Seja bem vindo! <%=current_user.nome%>.</h4>
</div>
</div>


<div class="row mar-bot40">
 <div class="col-lg-7" >
	<%= form_for(@empresa) do |f| %>
		               <%= f.label :Modar_de_empresa %><br>
	               <%= f.select :id, options_from_collection_for_select(Empresa.all, 'id', 'nome'), {:include_blank => true}, {:class => 'form-control' }%>
   </div>
    <div class="col-lg-2" > 
               <br>
		      <button type="submit" value="Submit" class="btn btn-primary">
		      <span class="glyphicon glyphicon-floppy-disk"></span> Mudar empresa
		      </button>
   </div>
  </div>

 <% end %>


