<br>
<div class="panel panel-default">
  <div class="panel-body">
  <h4>Seja bem vindo! <%=current_user.nome%>.</h4>
</div>
</div>

<%= form_tag("/static_pages/index", method: "get") do %>
<div class="row mar-bot40">
  <div class="col-lg-6" >
		           <label>Modar de Empresa</label><br>
		           <%= select_tag 'id', options_from_collection_for_select(Empresa.all, 'id', 'nome'),  {:class => 'form-control' }%>
    </div>
    <div class="col-lg-2" > 
               <br>
		      <button type="submit" value="submit" class="btn btn-primary">
		      <span class="glyphicon glyphicon-floppy-disk"></span> Mudar empresa
		     </button>
   </div>
  </div>

<%end%>
