<div class="row" id="menuslin">
 <div class="col-lg-1">
 </div>
	<div class="col-lg-10">
		<div class="panel panel-default"  style="margin-top:60px">
			 <div class="panel-heading" style="background:#e89980" align="center"> <span aria-hidden="true"><b>Categorias</b></span>
			 </div>
		  <div class="panel-body">
		  </div>
		</div>
	</div>
</div>